<h3 class="bg-primary p-1 text-white">
  {{ getName() }} Inventory
</h3>

<table class="table table-striped table-bordered">
  <thead>
      <tr><th></th><th>Make</th><th>Model</th><th>Stock</th></tr>
  </thead>
  <tbody>
      <tr *ngFor="let item of getTodoItems(); let i = index">
          <td>{{ i + 1 }}</td>
          <td>{{ item.make }}</td>
          <td>{{ item.model }}</td>
          <td [ngSwitch]="item.stock">
              <span *ngSwitchCase="true">Yes</span>
              <span *ngSwitchDefault>No</span>
          </td>
      </tr>
  </tbody>
</table>
